<!-- <button (click)="initNewHero()">ddsds</button>
{{initNewHero()}} -->
<!-- <table>
  <thead>
    <th>email</th>
    <th>telephone</th>
    <th>message_topics</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let users of user">
      <td>{{users.email}}</td>
      <td>{{users.telephone}}</td>
      <td>{{users.message_topics}}</td>
      <th><button (click)="editUser(users)">Edit</button></th>
    </tr>
  </tbody>
</table> -->
<!-- <button (click) => "get" -->
<app-edit-user [user]="userToEdit"></app-edit-user>
